$bgc: #101010;
$bgc2: #1f1f1f;
$bgc3: #141414;
$text_color_1: whitesmoke;
$text_color_2: rgb(160, 160, 160);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $bgc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.3fr repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}


header {
  grid-area: 1 / 1 / 2 / 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  height: 100%;
  color: $text_color_1;
  background-color: $bgc2;

  .pages_header {

    & > .active {
      color: $text_color_1;
    }

    & > a {
      text-decoration: none;
      color: transparentize($text_color_2, 0.4);
      font-size: 1.8rem;
      transition: 0.2s;

      &:not(:last-child) {
        margin-right: 1.6rem;
      }

      &:hover {
        color: $text_color_1;
      }
    }
  }

  .money_header {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: #141414;
      border: 1px solid $text_color_2;
      padding: 0.5rem 1.4rem;

      & > span {
        height: 100%;

        &:not(:last-child) {
          border-right: 1px solid $text_color_2;
        }

        & > img {
          width: 2.4rem;
          margin-right: 1rem;
        }

        & > h1{
          margin-left: 1rem;

        }
      }
    }

    & > .user_header {
      display: flex;
      align-items: center;

      & > img {
        width: 5rem;
        height: 5rem;
        aspect-ratio: 1/1;
        margin-left: 1rem;
      }
    }
}

main {
  height: 100%;
  grid-area: 2 / 1 / 6 / 6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}


.lvl-2 {
    box-shadow: (inset 0px 0px 8px rgba(156, 156, 156, 0.373));
    border: 5px solid rgba(85, 255, 0, 0.214) !important;
}
  
.lvl-3 {
    box-shadow: (inset 0px 0px 8px rgba(156, 156, 156, 0.373));
    border: 5px solid rgba(255, 242, 0, 0.343) !important;
}
  
.lvl-4 {
    box-shadow: (inset 0px 0px 8px rgba(156, 156, 156, 0.373));
    border: 5px solid rgba(255, 0, 0, 0.373) !important;
}

.main__div-tuninig_box {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;

    .tuninig_box__div {
        width: 50rem;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .tuninig_box__div__section {
            width: 100%;
            height: 45%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .tuninig_box__div__section-detail_box {
                width: 16rem;
                aspect-ratio: 1/1;
                border: 5px solid rgb(49, 49, 49);
                border-radius: 5px;
                color: $text_color_1;
                padding: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                user-select: none;

                
            }


        }

        .tuninig_box__div__section-button_section {
            height: 10%;

            & > a {
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
              
              
                & > button {
                    width: 95%;
                    cursor: pointer;
                    position: relative;
                    padding: 1rem 2.4rem;
                    font-size: 1.8rem;
                    color: rgb(115, 193, 98);
                    border: 2px solid rgb(80, 175, 59);
                    border-radius: 34px;
                    background-color: transparent;
                    font-weight: 600;
                    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
                    overflow: hidden;
                    
                    &::before {
                        width: 15rem;
                        content: '';
                        position: absolute;
                        inset: 0;
                        margin: auto;
                        border-radius: inherit;
                        scale: 0;
                        z-index: -1;
                        background-color: rgb(80, 175, 59);
                        transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
                    }

                    &:hover::before {
                        scale: 3;
                    }

                    &:hover {
                        color: #212121;
                        scale: 1.1;
                        box-shadow: 0 0px 20px rgba(80, 175, 59, 0.419);
                    }
                  
                    &:active {
                        scale: 1;
                    }
                }
                
            }
        }
    }
}



.slider {
    width: 100%;
    height: 20rem;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slides {
    background-color: $bgc2;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 2rem;
  
  }
  
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  .slides::-webkit-scrollbar-thumb {
    background: #b2b2b2;
    border-radius: 10px;
  }
  
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .slides > button {
    border: none;
    outline: none;
    width: 10%;
    aspect-ratio: 1/1;
    scroll-snap-align:start;
    flex-shrink: 0;
    margin-right: 50px;
    border-radius: 10px;
    background: $bgc;
    transform-origin: center center;
    transform: scale(1);
    position: relative;
    color: $text_color_1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    transition: 0.2s;
  
    & > img {
      width: 60%;
    }
  
    &:hover {
      cursor: pointer;
      border: 2px solid $text_color_2;
      background-color: #232323;
    }
}