* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif; }

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #101010;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.3fr repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

header {
  grid-area: 1 / 1 / 2 / 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  height: 100%;
  color: whitesmoke;
  background-color: #1f1f1f; }
  header .pages_header > .active {
    color: whitesmoke; }
  header .pages_header > a {
    text-decoration: none;
    color: rgba(160, 160, 160, 0.6);
    font-size: 1.8rem;
    transition: 0.2s; }
    header .pages_header > a:not(:last-child) {
      margin-right: 1.6rem; }
    header .pages_header > a:hover {
      color: whitesmoke; }
  header .money_header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #141414;
    border: 1px solid #a0a0a0;
    padding: 0.5rem 1.4rem; }
    header .money_header > span {
      height: 100%; }
      header .money_header > span:not(:last-child) {
        border-right: 1px solid #a0a0a0; }
      header .money_header > span > img {
        width: 2.4rem;
        margin-right: 1rem; }
      header .money_header > span > h1 {
        margin-left: 1rem; }
  header > .user_header {
    display: flex;
    align-items: center; }
    header > .user_header > img {
      width: 5rem;
      height: 5rem;
      aspect-ratio: 1/1;
      margin-left: 1rem; }

main {
  height: 100%;
  grid-area: 2 / 1 / 6 / 6;
  display: flex;
  flex-direction: column; }
  main .main__section {
    width: 100%; }
  main .main__filter_box {
    height: 8%;
    background-color: #141414;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 3.5rem; }
    main .main__filter_box .main__filter_box-form {
      width: 28%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 1.8rem 0.5rem; }
      main .main__filter_box .main__filter_box-form .main__filter_box-form__input {
        height: 100%;
        width: 80%;
        outline: none;
        font-size: 1.4rem;
        font-weight: 500;
        background-color: #1f1f1f;
        caret-color: whitesmoke;
        color: whitesmoke;
        padding: 0.6rem 1rem;
        border: 2px solid transparent;
        border-top-left-radius: 0.6rem;
        border-bottom-left-radius: 0.6rem;
        margin-right: 1px;
        transition: all .2s ease;
        border: 1px solid rgba(160, 160, 160, 0.8); }
        main .main__filter_box .main__filter_box-form .main__filter_box-form__input:hover {
          border: 2px solid rgba(255, 255, 255, 0.16); }
        main .main__filter_box .main__filter_box-form .main__filter_box-form__input:focus {
          border: 2px solid #a0a0a0;
          background-color: #141414; }
      main .main__filter_box .main__filter_box-form .main__filter_box-form__button {
        border: none;
        cursor: pointer;
        background-color: #2a2a2d;
        border-top-right-radius: 0.6rem;
        border-bottom-right-radius: 0.6rem;
        height: 100%;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center; }
        main .main__filter_box .main__filter_box-form .main__filter_box-form__button:hover {
          background-color: #363638; }
    main .main__filter_box .main__filter_box-div {
      display: flex; }
      main .main__filter_box .main__filter_box-div .customCheckBoxHolder {
        margin: 5px;
        display: flex; }
      main .main__filter_box .main__filter_box-div .customCheckBox {
        width: fit-content;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        user-select: none;
        padding: 2px 8px;
        background-color: #eb2f2f;
        border-radius: 0px;
        color: white;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 300ms;
        transition-property: color, background-color, box-shadow;
        display: flex;
        height: 32px;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
        outline: none;
        justify-content: center;
        min-width: 55px; }
        main .main__filter_box .main__filter_box-div .customCheckBox:hover {
          background-color: #ff2222;
          color: white;
          box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px; }
          main .main__filter_box .main__filter_box-div .customCheckBox:hover .inner {
            transform: translateY(-2px); }
        main .main__filter_box .main__filter_box-div .customCheckBox .inner {
          font-size: 18px;
          font-weight: 900;
          pointer-events: none;
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-duration: 300ms;
          transition-property: transform;
          transform: translateY(0px); }
      main .main__filter_box .main__filter_box-div .customCheckBoxWrapper:first-of-type .customCheckBox {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-right: 0px; }
      main .main__filter_box .main__filter_box-div .customCheckBoxWrapper:last-of-type .customCheckBox {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        border-left: 0px; }
      main .main__filter_box .main__filter_box-div .customCheckBoxWrapper .customCheckBox:hover .inner {
        transform: translateY(-2px); }
      main .main__filter_box .main__filter_box-div .customCheckBoxInput {
        display: none; }
        main .main__filter_box .main__filter_box-div .customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox {
          background-color: #2d6737;
          color: white;
          box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px; }
          main .main__filter_box .main__filter_box-div .customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox .inner {
            transform: translateY(-2px); }
          main .main__filter_box .main__filter_box-div .customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox:hover {
            background-color: #34723f;
            box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.15) 0px 3px 6px 2px; }
  main .main__products_box {
    height: 92%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column; }
    main .main__products_box .main__products_box-section {
      width: 100%;
      padding: 3rem;
      display: flex;
      flex-direction: column; }
      main .main__products_box .main__products_box-section .main__products_box-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        main .main__products_box .main__products_box-section .main__products_box-header .main__products_box-header__text {
          color: #a0a0a0;
          font-size: 4rem; }
        main .main__products_box .main__products_box-section .main__products_box-header .main__products_box-header__line {
          width: 92%;
          height: 0.2rem;
          background-color: #a0a0a0; }
      main .main__products_box .main__products_box-section .main__products_box__prod_section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        main .main__products_box .main__products_box-section .main__products_box__prod_section .main__products_box-section__product_div {
          width: 40rem;
          height: 30rem;
          background-color: #1f1f1f;
          margin: 2rem 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column; }
          main .main__products_box .main__products_box-section .main__products_box__prod_section .main__products_box-section__product_div .product_div__image_div {
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #141414; }
            main .main__products_box .main__products_box-section .main__products_box__prod_section .main__products_box-section__product_div .product_div__image_div .product_div__image_div-img {
              width: 100%; }
            main .main__products_box .main__products_box-section .main__products_box__prod_section .main__products_box-section__product_div .product_div__image_div .product_div__image_div-img-detail {
              width: 45%; }
          main .main__products_box .main__products_box-section .main__products_box__prod_section .main__products_box-section__product_div .detail_2lvl {
            background-color: green; }
          main .main__products_box .main__products_box-section .main__products_box__prod_section .main__products_box-section__product_div .detail_3lvl {
            background-color: orange; }
          main .main__products_box .main__products_box-section .main__products_box__prod_section .main__products_box-section__product_div .detail_4lvl {
            background-color: red; }
          main .main__products_box .main__products_box-section .main__products_box__prod_section .main__products_box-section__product_div .product_div__info_div {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 0 1rem; }
            main .main__products_box .main__products_box-section .main__products_box__prod_section .main__products_box-section__product_div .product_div__info_div .product_div__info_div__detail_name {
              color: whitesmoke;
              font-size: 3rem; }
            main .main__products_box .main__products_box-section .main__products_box__prod_section .main__products_box-section__product_div .product_div__info_div .product_div__info_div__detail_price {
              color: whitesmoke;
              font-size: 2rem;
              padding: 0.5rem 2rem;
              background-color: rgba(55, 206, 0, 0.164);
              color: #00db00;
              border: 2px solid rgba(172, 255, 47, 0.189);
              border-radius: 10rem; }
          main .main__products_box .main__products_box-section .main__products_box__prod_section .main__products_box-section__product_div .product_div__buy_form_div {
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center; }
            main .main__products_box .main__products_box-section .main__products_box__prod_section .main__products_box-section__product_div .product_div__buy_form_div .product_div__buy_form_div-button {
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              width: 90%;
              height: 70%;
              cursor: pointer;
              position: relative;
              font-size: 1.8rem;
              color: #8bd662;
              border: 2px solid #5ace40;
              border-radius: 34px;
              background-color: transparent;
              font-weight: 600;
              transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
              overflow: hidden; }
              main .main__products_box .main__products_box-section .main__products_box__prod_section .main__products_box-section__product_div .product_div__buy_form_div .product_div__buy_form_div-button::before {
                width: 20rem;
                content: '';
                position: absolute;
                inset: 0;
                margin: auto;
                border-radius: inherit;
                scale: 0;
                z-index: -1;
                background-color: #6cda4a;
                transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1); }
              main .main__products_box .main__products_box-section .main__products_box__prod_section .main__products_box-section__product_div .product_div__buy_form_div .product_div__buy_form_div-button:hover::before {
                scale: 3; }
              main .main__products_box .main__products_box-section .main__products_box__prod_section .main__products_box-section__product_div .product_div__buy_form_div .product_div__buy_form_div-button:hover {
                color: #212121;
                scale: 1.04;
                box-shadow: 0 0px 20px rgba(69, 175, 59, 0.419); }
              main .main__products_box .main__products_box-section .main__products_box__prod_section .main__products_box-section__product_div .product_div__buy_form_div .product_div__buy_form_div-button:active {
                scale: 1; }

/*# sourceMappingURL=style.css.map */
