* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif; }

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #101010;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.3fr repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

header {
  grid-area: 1 / 1 / 2 / 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  height: 100%;
  color: whitesmoke;
  background-color: #1f1f1f; }
  header .pages_header > .active {
    color: whitesmoke; }
  header .pages_header > a {
    text-decoration: none;
    color: rgba(160, 160, 160, 0.6);
    font-size: 1.8rem;
    transition: 0.2s; }
    header .pages_header > a:not(:last-child) {
      margin-right: 1.6rem; }
    header .pages_header > a:hover {
      color: whitesmoke; }
  header .money_header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #141414;
    border: 1px solid #a0a0a0;
    padding: 0.5rem 1.4rem; }
    header .money_header > span {
      height: 100%; }
      header .money_header > span:not(:last-child) {
        border-right: 1px solid #a0a0a0; }
      header .money_header > span > img {
        width: 2.4rem;
        margin-right: 1rem; }
      header .money_header > span > h1 {
        margin-left: 1rem; }
  header > .user_header {
    display: flex;
    align-items: center; }
    header > .user_header > img {
      width: 5rem;
      height: 5rem;
      aspect-ratio: 1/1;
      margin-left: 1rem; }

main {
  height: 100%;
  grid-area: 2 / 1 / 6 / 6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  align-items: center; }
  main > h1 {
    font-size: 5rem;
    color: whitesmoke; }

.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; }

.slides {
  width: 100%;
  height: 90%;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 2rem; }

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

.slides::-webkit-scrollbar-thumb {
  background: #b2b2b2;
  border-radius: 10px; }

.slides::-webkit-scrollbar-track {
  background: transparent; }

.slides > div {
  width: 70%;
  height: 100%;
  scroll-snap-align: center;
  flex-shrink: 0;
  margin-right: 50px;
  border-radius: 10px;
  background-color: #1f1f1f;
  transform-origin: center center;
  transform: scale(1);
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0; }
  .slides > div:first-child {
    margin-left: 50%; }
  .slides > div:last-child {
    margin-right: 50%; }
  .slides > div > span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .slides > div .car_info_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 0.5rem; }
    .slides > div .car_info_box > span > h1 {
      font-size: 5rem;
      color: whitesmoke; }
    .slides > div .car_info_box > span > h2 {
      margin-top: 1rem;
      font-size: 3rem;
      color: #2fb82f; }
  .slides > div .car_buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.3rem; }
    .slides > div .car_buttons .button {
      width: 30rem;
      height: 5rem;
      position: relative;
      text-align: center;
      border-radius: 0.45em;
      font-family: "Arial";
      font-size: 1.9rem;
      font-weight: bold;
      transition: background 0.3s; }
      .slides > div .car_buttons .button:nth-child(1) {
        background: #60ea26a8; }
      .slides > div .car_buttons .button:nth-child(2) {
        background-color: #854cba; }
    .slides > div .car_buttons .button::after, .slides > div .car_buttons .button::before {
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s; }
    .slides > div .car_buttons .text {
      display: flex;
      align-items: center;
      justify-content: center; }
    .slides > div .car_buttons .button-wrapper, .slides > div .car_buttons .text, .slides > div .car_buttons .icon {
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      color: #fff; }
    .slides > div .car_buttons .text {
      top: 0; }
    .slides > div .car_buttons .text, .slides > div .car_buttons .icon {
      transition: top 0.5s; }
    .slides > div .car_buttons .icon {
      color: #fff;
      top: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .slides > div .car_buttons .icon svg {
      width: 24px;
      height: 24px; }
    .slides > div .car_buttons .button:hover {
      cursor: pointer; }
    .slides > div .car_buttons .button:nth-child(1):hover {
      background: #3bdd2fcf; }
    .slides > div .car_buttons .button:nth-child(2):hover {
      background: #9c62d2; }
    .slides > div .car_buttons .button:hover .text {
      top: -100%; }
    .slides > div .car_buttons .button:hover .icon {
      top: 0; }
    .slides > div .car_buttons .button:hover:before, .slides > div .car_buttons .button:hover:after {
      opacity: 1;
      visibility: visible; }

.slider_button {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem; }
  .slider_button > a {
    width: 8rem;
    height: 8rem;
    aspect-ratio: 1/1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    .slider_button > a > img {
      width: 80%;
      height: 80%;
      aspect-ratio: 1/1;
      transition: 0.1s; }
    .slider_button > a:nth-child(1) {
      transform: scale(-1, 1); }
    .slider_button > a:hover {
      cursor: pointer; }
    .slider_button > a:active > img {
      width: 100%;
      height: 100%; }

/*# sourceMappingURL=style.css.map */
