{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/car_tuning/style.css' %}"> 

    <title> Tuning </title>
</head>
<body>
    
    {% include 'main/inc/header.html' %}

    <main>
        <div class = "car-box">
            <span class="car-box__span_info">
                <h1> {{ car.name }} </h1>
                <h3> Price: <p> $xxxx </p></h3>
                <h3> Max Speed: <p> xxx km/h </p> </h3>
                <h3> Power: <p> xxx hp </p> </h3>
                <h3> Acceleration: <p> xxxx </p> </h3>
                <h3> Controllability: <p> xxxx </p> </h3>
            </span>

            <span class = "car-box__span_image_box">
                <img src="{% static 'main/images/cars/bmw_e36_coupe.png' %}" alt="">

                <form method = "post" class = "car-box__span_info__form">
                    {% csrf_token %}
                    <input type="text" id = "car_ecu" name="car_ecu" value = "{{ car.ecu.id }}">
                    <input type="text" id = "car_engine" name="car_engine" value = "{{ car.engine.id }}" >
                    <input type="text" id = "car_turbo" name="car_turbo" value = "{{ car.turbo.id }}">
                    <input type="text" id = "car_clutch" name="car_clutch" value = "{{ car.clutch.id }}">
                    <button type = "submit"> Tune </button>
                </form>                
            </span>

            <span  class = "car-box__span_tyuning-box">
                {% if car.ecu %}
                    <div value = "ecu_{{car.ecu.id}}" onclick="remove_detail('ecu')" id = "ecu_seat" class = "car-box__span_tuning-box-element car-box__span_tuning-box_ecu_section lvl-{{ car.ecu.level }}">
                        <img class = "" src="{{ car.ecu.type.image.url }}" alt="">
                        <h1 class = "" > ecu </h1> 
                    </div>
                {% else%}
                    <div value = "" id = "ecu_seat" class = "car-box__span_tuning-box-element car-box__span_tuning-box_ecu_section">
                        <img class = "car-box__span_tuning-box-element_no-selected" src="{% static 'main/images/details/ecu.png' %}" alt="">
                        <h1 class = "car-box__span_tuning-box-element_no-selected" > ecu </h1> 
                    </div>
                {% endif %}

                {% if car.engine %}
                    <div value = "engine_{{car.engine.id}}" onclick="remove_detail('engine')" id = "engine_seat" class = "car-box__span_tuning-box-element car-box__span_tuning-box_engine_section lvl-{{ car.engine.level }}">
                        <img class = "" src="{{ car.engine.type.image.url }}" alt="">
                        <h1 class = "" > Engine </h1> 
                    </div>
                {% else%}
                    <div value = "" id = "engine_seat" class = "car-box__span_tuning-box-element car-box__span_tuning-box_engine_section">
                        <img class = "car-box__span_tuning-box-element_no-selected" src="{% static 'main/images/details/engine.png' %}" alt="">
                        <h1 class = "car-box__span_tuning-box-element_no-selected" > Swap </h1> 
                    </div>
                {% endif %}

                
                {% if car.turbo %}
                    <div value = "turbo_{{car.turbo.id}}" onclick="remove_detail('turbo')" id = "turbo_seat" class = "car-box__span_tuning-box-element car-box__span_tuning-box_turbo_section lvl-{{ car.turbo.level }}">
                        <img class = "" src="{{ car.turbo.type.image.url }}" alt="">
                        <h1 class = "" > Turbo </h1> 
                    </div>
                {% else %}
                    <div value = "" id = "turbo_seat" class = "car-box__span_tuning-box-element car-box__span_tuning-box_turbo_section">
                        <img class = "car-box__span_tuning-box-element_no-selected" src="{% static 'main/images/details/turbo.png' %}" alt="">
                        <h1 class = "car-box__span_tuning-box-element_no-selected" > Turbo </h1> 
                    </div>
                {% endif %}

                {% if car.clutch %}
                    <div value = "clutch_{{car.clutch.id}}" onclick="remove_detail('clutch')" id = "clutch_seat" class = "car-box__span_tuning-box-element car-box__span_tuning-box_clutch_section lvl-{{ car.clutch.level }}">
                        <img class = "" src="{{ car.clutch.type.image.url }}" alt="">
                        <h1 class = "" > clutch </h1> 
                    </div>
                {% else %}
                    <div value = "" id = "clutch_seat" class = "car-box__span_tuning-box-element car-box__span_tuning-box_clutch_section">
                        <img class = "car-box__span_tuning-box-element_no-selected" src="{% static 'main/images/details/clutch.png' %}" alt="">
                        <h1 class = "car-box__span_tuning-box-element_no-selected" > clutch </h1> 
                    </div>
                {% endif %}
                
                <a href="{% url 'detail_tuning' %}" class="car-box__span_link-detail_tuning_button"><button>Details Tuning</button></a>


                
            </span>


        </div>

        <div class="slider">


            <form method = "post" id = "user_components" class="slides">
                {% csrf_token %}

                {% for i in details%}
                {% if not i.in_car%}
                    <button type = "submit" onclick = "install_detail( '{{ i.type.name|lower }}', '{{ i.type.name|lower }}_{{ i.id }}' )" id = "{{ i.type.name|lower }}_{{ i.id }}" class = "lvl-{{ i.level }}" value = "{{ i.type.name|lower }}">
                        <img  src="{{ i.type.image.url }}" alt="">
                        <h1> {{ i.type.name }} - {{ i.id }}</h1>
                    </button>
                {% endif %}
                {% endfor %}

            </form>
          </div>
    </main>

    
</body>
    <script src="{% static 'main/js/car_tuning/app.js' %}"></script>
</html>