{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/detail_tuning/style.css' %}">

    <title> Tuning </title>
</head>
<body>
    {% include 'main/inc/header.html' %}

    <main>
        <div class="main__div-tuninig_box">
            <div class = "tuninig_box__div">
                <section class = "tuninig_box__div__section">
                    <span class = "tuninig_box__div__section-detail_box" ></span>
                </section>

                <section class = "tuninig_box__div__section" >
                    <span class = "tuninig_box__div__section-detail_box" ></span>
                    <span class = "tuninig_box__div__section-detail_box" ></span>
                </section>

                <section class = "tuninig_box__div__section tuninig_box__div__section-button_section">
                    <a href="{% url 'detail_tuning' %}" class="car-box__span_link-detail_tuning_button"><button> Tuning </button></a>
                </section>



            </div>
        </div>

        <div class="slider">

            <form method = "post" id = "user_components" class="slides">
                <button type= "post" onclick = "install_detail( 'ecu', 'ecu_1' )" class = "lvl-4" id = "ecu_1" value = "ecu">
                    <img src="{% static 'main/images/details/ecu.png' %}" alt="">
                    <h1> Ecu - 1 </h1>
                </button>


                <button type= "post" onclick = "install_detail( 'engine', 'engine_1' )" id = "engine_1" class = "lvl-3" class="active"  value = "engine" >
                    <img src="{% static 'main/images/details/engine.png' %}" alt="">
                    <h1> Swap - 1 </h1>
                </button>

                <button type= "post" onclick = "install_detail( 'clutch', 'clutch_1' )" id = "clutch_1" class = "lvl-3" class="active"  value = "clutch" >
                    <img src="{% static 'main/images/details/clutch.png' %}" alt="">
                    <h1> Clutch - 1 </h1>
                </button>


                <button type= "post" onclick = "install_detail( 'turbo', 'turbo_1' )" id = "turbo_1" class = "lvl-1" value = "turbo">
                    <img  src="{% static 'main/images/details/turbo.png' %}" alt="">
                    <h1> Turbo - 1 </h1>
                </button>

                <button type= "post" onclick = "install_detail( 'turbo', 'turbo_2' )" id = "turbo_2" class = "lvl-2" value = "turbo">
                    <img  src="{% static 'main/images/details/turbo.png' %}" alt="">
                    <h1> Turbo - 2 </h1>
                </button>

                <button type= "post" onclick = "install_detail( 'turbo', 'turbo_3' )" id = "turbo_3" class = "lvl-4" value = "turbo">
                    <img  src="{% static 'main/images/details/turbo.png' %}" alt="">
                    <h1> Turbo - 3 </h1>
                </button>
            </form>
          </div>
    </main>
</body>

<script src="{% static 'main/js/details_tuning/app.js' %}"></script>
</html>