{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/garage/style.css' %}">
    <title> Garage </title>
</head>
<body>
  
    {% include 'main/inc/header.html' %}

    <main>
        <h1> Your Garage </h1>

        <div class="slider">
            
          <div class="slides">
              
              {% for i in user.cars.all %}
              <div> 
                <span class = "car_info_box">

                  <span>
                    <h1> {{ i.name }} </h1>
                    <h2> ${{ i.price }} </h2>
                  </span>

                  <img src="{{ i.image.url }}" alt=""> 
                </span>

                <span class = "car_buttons">
                  <a href = "#" class="button sell_btn">
                    <div class="button-wrapper">
                      <div class="text"> Sell </div>
                      <span class="icon">
                        <img src="{% static 'main/icons/shopping_cart.svg' %}" alt="">
                      </span>
                    </div>
                  </a>

                  <a href = "{% url 'car_tuning' i.id %}" class="button">
                    <div class="button-wrapper">
                      <div class="text"> Tuning </div>
                      <span class="icon">
                        <img style="margin-top: 1rem;" src="{% static 'main/icons/turbo.svg' %} " alt="">
                      </span>
                    </div>
                  </a>
                </span> 
              </div>
              {% endfor %}


            </div>
            <span class = "slider_button">
                <a href="#" class = "prev" > <img src="{% static 'main/icons/scroll_buttons.png' %}" alt=""> </a>
                <a href="#" class="next"> <img src="{% static 'main/icons/scroll_buttons.png' %}" alt=""> </a>
            </span>
        </div>
        
        <div id = "sell_menu" class = "sell_menu">
          <form method = "post" class = "sell_menu__form">
            {% csrf_token %}
            <h1 class = "sell_menu__form-title"> Sell at Auto market </h1>
            <h2 class = "sell_menu__form-car_name"> Car name </h2>

            <input class = "sell_menu__form-input" type="number" placeholder = "Price"> 
            
            <label class="sell_menu__form-label">
              <input class="sell_menu__form-label__input-checkbox" type="checkbox">
              Sell Tuning
            </label>

            <button class = "sell_menu__form-submit_button" type = "submit"> Sell </button>
          </form>


          <form method = "post" class = "sell_menu__form">
              <h1 class = "sell_menu__form-title"> Sell to dealer </h1>
              <h2 class = "sell_menu__form-car_name"> Car name </h2>
          </form>
        </div>
    </main>

    <script src="{% static 'main/js/garage/app.js' %}"></script>
</body>
</html>
