{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/garage/style.css' %}">
    <title> Garage </title>
</head>
<body>
  
    {% include 'main/inc/header.html' %}

    <main>
        <h1> Your Garage </h1>

        <div class="slider">
            
          <div class="slides">
              
              {% for i in user.cars.all %}
              <div> 
                <span class = "car_info_box">

                  <span>
                    <h1> {{ i.name }} </h1>
                    <h2> ${{ i.price }} </h2>
                  </span>

                  <img src="{{ i.image.url }}" alt=""> 
                </span>

                <span class = "car_buttons">
                  <a href = "#" class="button">
                    <div class="button-wrapper">
                      <div class="text"> Sell </div>
                      <span class="icon">
                        <img src="{% static 'main/icons/shopping_cart.svg' %}" alt="">
                      </span>
                    </div>
                  </a>

                  <a href = "{% url 'car_tuning' i.id %}" class="button">
                    <div class="button-wrapper">
                      <div class="text"> Tuning </div>
                      <span class="icon">
                        <img style="margin-top: 1rem;" src="{% static 'main/icons/turbo.svg' %} " alt="">
                      </span>
                    </div>
                  </a>
                </span> 
              </div>
              {% endfor %}


            </div>
            <span class = "slider_button">
                <a href="#" class = "prev" > <img src="{% static 'main/icons/scroll_buttons.png' %}" alt=""> </a>
                <a href="#" class="next"> <img src="{% static 'main/icons/scroll_buttons.png' %}" alt=""> </a>
            </span>
        </div>
          
    </main>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const prevBtn = document.querySelector('.prev');
        const nextBtn = document.querySelector('.next');
        const slidesContainer = document.querySelector('.slides');

        prevBtn.addEventListener('click', function(e) {
          
          e.preventDefault();
          slidesContainer.scrollBy({
            left: -100,
            behavior: 'smooth'
          });
        });
      
        nextBtn.addEventListener('click', function(e) {
          
          e.preventDefault();
          slidesContainer.scrollBy({
            left: 1000,
            behavior: 'smooth'
          });
        });
      });
  </script>
</html>
